
.contenedor-titulo {
  margin-top: 48px;
}

#imagen-tarjeta {
  width: 320px;
  user-select: none;
  user-drag: none;
}

.contenedor-imagen-tarjeta {
  margin-top: 24px;
  margin-bottom: 48px;
}

.separador-numTarjeta-izquierdo{
  position: absolute;
  left: -30px;
  top: -32px;
}

.separador-numTarjeta-derecho{
  position: absolute;
  right: -30px;
  top: -32px;
}

.btn-sin-descuentos {
  position: absolute;
  right: 48px;
}

.contenedor-botones-continuar {
  margin-top: 48px;
  margin-bottom: 48px;
}

.contenedor-entradaTarjeta-central {
  margin-left: 40px;
  margin-right: 40px;
  font-size: 48px;
  font-weight: bold;
}

.input-tarjetaCliente {
   user-select: none;
}

.btn-sin-tarjeta {
  position: absolute;
  left: 48px;
}

.separadorBotones {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 1000px) {
  .btn-sin-tarjeta {
    display: inline-block;
    position: relative;
    right: 0px;
  }

  .btn-continuar {
    display: inline-block;
  }

  .separadorBotones {
    display: block;
  }
}

/*CANJEPUNTOS2*/

.espacios-descuentos {
  margin-top: 12px;
  margin-bottom: 12px;
}

.contenedor-descuentos {
  overflow-y: auto;
  height: 60vh;
  padding-top: -10px;
}

.btn-continuarPedido{
  width: 60%;
}

.margen-superior-col1{
  margin-top: 80px;
}

.margen-puntos{
  margin-bottom: 20px;
  margin-top: 45px;
  text-align: center;
}
