.etiquetaElementosFormulario {
  margin-bottom: 0px;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  position: relative;
}

.contenedorBusqueda {
  margin-top: 25px;
}

#entradaBusqueda {
  margin-top: -10px;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.botonBusqueda {
  margin-left: 16px;
  margin-top: -10px;
}

.contElementoContenedorResPed {
  height: 60vh;
  padding: 0px;
  margin-top: 16px;
}

.contenedorFiltros {
  margin-top:16px;
}

#contenedorResumenesPedidos {
  overflow-y: auto;
}

.form-group {
  margin-bottom: 0px;
}

.myClass {
  background-color: blue;
}

.otrasEtapas {
  width: 75px;
  height: 75px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.etapaActual {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.contenedorEtapas {
  width: 30%;

}

.contenedorDeLoDemas {
  width: 70%;
}

@media screen and (max-width: 1700px) {
  .myClass {
    background-color: red;
  }
  .contenedorEtapas {
    width: 100%;

  }

  .contenedorDeLoDemas {
    width: 100%;

  }
}



select {
  margin-top: -10px;
}
