.separadorPrecio {
  margin: 0px;
  border-width: 2px;
}

.textoPrecio {
  display:block;
  margin-left: 20px;
  font-size: 12px;
}

.totalPrecio {
  display:block;
  margin-left: 20px;
}

.contenedorFechaDato {
  text-align: right;
  min-height:24px;
}

.contenedorFechaNombre {
  font-weight:bold;
  font-style:italic;
  text-decoration-line:underline;
}
.fechas {
  min-height: 24px;
}

.etq-es-etapa-actual {
  position: absolute;
  top: -16px;
  background-color: white;
  width: 100px;
  left: 0;
  right: 0;
}

.marca-pedido-actual-real {
  border-width: 8px;
}

.marca-pedido-asignado{
  border-color: gold;
}

#botonesPasoEtapas {
  margin-bottom: 16px;
}

#botonesNavegacion {
  margin-top: 16px;
}

#etapaActualNombre {
  background-color: white;
}

#etapaAnteriorNombre {
  background-color: white;
}

#etapaSiguienteNombre {
  background-color: white;
}
