.logo-empresa {
  font-size: 56px;
  font-family: Brush Script MT;
}

/* cabeceraContenido */

.boton-retroceder-titulo-pagina {
   position:absolute;
  width: 60px;
  height: 60px;
  display: inline;
  float: left;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.contenedor-titulo-pagina {
  margin: auto;
  height: 150px;
  padding: 0px;
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.fondo-titulo-pagina {
  background-image: url("../img/fondoTitulosA.jpg");
  background-position: center;
  height: 110%;
  width: 110%;
  top: -5%;
  left: -5%;
  filter: blur(8px) brightness(0.5);
  position: relative;
  z-index: -1;
}

.contenido-titulo-pagina {
  position: relative;
  top: -110%;
  padding: 0px;
  height: 100%;

}

.texto-titulo-pagina {
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  color: #F8F8F8;
  line-height: 0px;
}




/* Layout de las páginas */

.web-content {
flex: 1 1 auto;
}
/*
label {
  margin-bottom: 0px;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
}

input {
  margin-top: -10px;
}
*/
.navbar-personalizado {
  width: 100%;
  position: static;

}

.contenedorCredencialesUsuario {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.collapse {
  padding: 0px;
  position: relative;
}

@media screen and (min-width: 992px) {
  .contenedorCredencialesUsuario {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  .navbar-personalizado {
    position: absolute;
    width: 100%;
    left: 0px;
    padding-right:250px;
  }
}
