.boton-menu-principal {
  width:100%;
  margin: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.carta-menu-principal {
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right:0px;
  min-height: 225px;
}

.welcome-title {
  margin-top: 40px;
}

.welcome-description {
  margin-top: 20px;
  margin-bottom: 50px;
}

.index-action-card{
  width: 18rem;
}
.cabeceraContenido-title {
  font-family: Brush Script MT;
  font-size: 64px;
}
