.seleccion-tipo-limpieza {
  width: 175px;
  height: 175px;
  margin-left: 40px;
  margin-right: 40px;
}

.etiquetaSubapartados {
  position: absolute;
  top: 15px;
  background-color: white;
  margin-top: -30px;
  height: 25px;
}
/*#rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}
