.seleccion-tipo-limpieza {
  display: inline;
  width: 20vw;
  height: 20vh;  
}

.seleccion-tipo-prenda {
  margin: 12px;
  height: 100px;
  width: 100px;
}

.contenedor-tipo-prenda {
  width: 50%;
}

.botonConfirmarPedido {
  height: 80px;
  font-weight: bold;
}



@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
