.seleccion-tipo-limpieza {
  display: inline-block;
  width: 175px;
  height: 175px;
  margin-left: 40px;
  margin-right: 40px;
}

.seleccion-tipo-prenda {
  margin: 12px;
  height: 100px;
  width:100px;
}

.contenedor-tipo-prenda {
  width: 50%;
}

.etiquetaSubapartados {
  position: absolute;
  top: 15px;
  background-color: white;
  margin-top: -30px;
  height: 25px;
}

@media screen and (max-width: 1800px) {
  .contenedorEtapas {
    position: relative;
    width: 100%;

  }

  .contenedorDeLoDemas {
    position: relative;
    width: 100%;

  }
}
